* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
@keyframes animation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(
      3.905,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -237.02,
      0,
      0,
      1
    );
  }
  2.55% {
    transform: matrix3d(
      4.554,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -182.798,
      0,
      0,
      1
    );
  }
  4.1% {
    transform: matrix3d(
      4.025,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -125.912,
      0,
      0,
      1
    );
  }
  5.71% {
    transform: matrix3d(
      3.039,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -79.596,
      0,
      0,
      1
    );
  }
  8.11% {
    transform: matrix3d(
      1.82,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -31.647,
      0,
      0,
      1
    );
  }
  8.81% {
    transform: matrix3d(
      1.581,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -21.84,
      0,
      0,
      1
    );
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      12.662,
      0,
      0,
      1
    );
  }
  16.12% {
    transform: matrix3d(
      0.951,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      13.007,
      0,
      0,
      1
    );
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient-magic {
  0% {
    opacity: 1;
    background: linear-gradient(
      to right,
      rgb(214, 104, 0),
      rgb(62, 1, 141),
      rgb(75, 50, 187)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    opacity: 1;
    background: linear-gradient(
      to right,
      rgb(62, 1, 141),
      rgb(126, 61, 1),
      rgb(75, 50, 187)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    background: linear-gradient(
      to right,
      rgb(75, 50, 187),
      rgb(62, 1, 141),
      rgb(214, 104, 0)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container-body {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.one {
  /* background-color: green; */
  -webkit-animation: wobble-hor-bottom 1.8s both infinite;
  animation: wobble-hor-bottom 1.8s both infinite;
  margin: 3vw;
}
.one:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.two:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.two {
  /* background-color: green; */
  margin: 3vw;
  -webkit-animation: wobble-hor-bottom 1.8s both infinite;
  animation: wobble-hor-bottom 1.8s both infinite;
}

.one img {
  transition: 0.2s ease-in all;
  width: 10vw;
}
.one img:hover {
  transform: scale(1.17);
  transition: 0.2s ease-in all;
}

.two img {
  transition: 0.2s ease-in all;
  width: 10vw;
}
.two img:hover {
  transform: scale(1.17);
  transition: 0.2s ease-in all;
}

.game-container {
  width: 90vh;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}

.game-container table {
  border-collapse: collapse;
  border-radius: 0.3px;
}

/* .game-container td {
  border: 0.5vw rgb(0, 0, 0) solid;
  padding: 5px;
  height: 8vw;
  color: rgb(229, 229, 229);
} */

.game-container td {
  min-width: 8vw;
  min-height: 8vw;
  cursor: pointer;

  color: white;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  width: 20vh;
  height: 20vh;
  border: 1.5vw rgb(255, 255, 255) solid;
}

.game-container img {
  width: 7.5vw;
}

@media (max-width: 800px) {
  .container-body {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
  }

  .landscape-phone-error-screen {
    display: none;
  }

  .one {
    /* background-color: green; */
    -webkit-animation: wobble-hor-bottom 1.8s both infinite;
    animation: wobble-hor-bottom 1.8s both infinite;
    margin: 3vw;
  }
  .one:hover {
    animation-play-state: paused;
    cursor: pointer;
  }

  .two:hover {
    cursor: pointer;
    animation-play-state: paused;
  }
  .two {
    /* background-color: green; */
    margin: 3vw;
    -webkit-animation: wobble-hor-bottom 1.8s both infinite;
    animation: wobble-hor-bottom 1.8s both infinite;
  }

  .one img {
    transition: 0.2s ease-in all;
    width: 40vw;
    margin-bottom: 5vw;
  }
  .one img:hover {
    transform: scale(1.17);
    transition: 0.2s ease-in all;
  }

  .two img {
    transition: 0.2s ease-in all;
    margin-top: 5vw;
    width: 40vw;
  }
  .two img:hover {
    transform: scale(1.17);
    transition: 0.2s ease-in all;
  }

  .game-container {
    width: 90vw;
    height: 90vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.4s ease-in all;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
  }

  .game-container table {
    transition: 0.4s ease-in all;
    border-collapse: collapse;
    border-radius: 0.3px;
  }

  .game-container td {
    transition: 0.4s ease-in all;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-family: arial;
    width: 20vw;
    height: 20vw;
    font-size: 10.5vw;
    border: 1.5vw rgb(255, 255, 255) solid;
  }

  .game-container img {
    width: 11vw;
    transition: 0.2s ease-in all;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  html {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: none;
  }

  .landscape-phone-error-screen {
    background: rgb(56, 56, 56);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1232132132132121321;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landscape-phone-error-screen span {
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 3vw;
    font-family: monospace;
    width: 70vw;
  }
}
